.infoUser .brief{
    font-size: 18px;
    color: #3c3c3c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* start statistics section */
.stats .field{
    border: 1px solid #f4f4f4;
    box-shadow: 1px 1px 13px #d7d7d7;
    padding: 40px;
    margin: 8px auto;
    box-sizing: border-box;
    transition: 0.5s;
}

.stats .field:hover{
    box-shadow: 1px 1px 22px #7cb07ce0;
    cursor: pointer;
}

.stats .field h1{
    color: #e3e3e3;
    text-shadow: 1px 1px 1px #463b3b;
    font-size: 50px;
}

/* start button section */
.btns div button{
    width: 90%;
    padding: 16px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    opacity: 0.79;
    box-shadow: 1px 1px 13px #ccc;
    transition: 0.5s;
}

.btns div button:hover{
    font-size: 16px;
    opacity: 1;
    box-shadow: 1px 1px 27px #ccc;
}

#btn-import{
    background-color: #56a0d3;
}

#btn-edit-category{
    background-color: #537b35;
}

#btn-edit-product{
    background-color: #7f181b;
}

#btn-edit-client{
    background-color: #6d6e70;
}

#btn-edit-action{
    background-color: #ecb731;
}
